datasets
decorator
Django
# google-ai-generativelanguage
# google-api-core
# google-auth
# google-auth-oauthlib
# google-generativeai>=0.2.2
# google-pasta
# googleapis-common-protos
happytransformer
httpcore
httpx
huggingface-hub
joblib
nltk
numpy
pandas
pandasai
Pillow
psycopg
python-decouple
python-dotenv
pytz
scikit-learn
scipy
sentence-transformers
sentencepiece
tensorflow
torch
transformers
tzdata

