{% if messages %}

<div class="d-flex justify-content-center align-items-center">
    <div id="message" class="container text-center m-1">
        {% for message in messages %}
        <div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger text-black {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} alert-success text-black {% endif %} p-2 w-100" role="alert">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<i class="fa-solid fa-ban"></i> {{message}}{% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} <i class="fa-solid fa-circle-check"></i> {{ message }} {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %} <i class="fa-solid "></i> {{ message }} {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script>
    setTimeout(function(){
        var messages = document.querySelectorAll('.container#message');
        messages.forEach(function(message) {
            message.remove();
        });
    }, 5000); // Adjust the time here (in milliseconds), currently set to 5000ms (5 seconds)
</script>

<script src="https://kit.fontawesome.com/ca6b256fcb.js" crossorigin="anonymous"></script>

{% endif %}
